body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#header {
    position: sticky;
    top: 0;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#taskList {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 100%;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    list-style-type: none;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    background-color: #d3d3d3;
}

li:hover {
    background-color: #ececec;
}

#clearAllButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

#clearAllButton:hover {
    background-color: darkred;
}